

/* This is where we will setup all of the responsive breakpoints for the website.
/* ----------- iPhone 6 & Lower ( for now ) ----------- */

@media only screen
  /*and (min-device-width: 414px)*/
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and ( orientation: portrait) {

  .intro-paragraph {
    font-size: 1.3rem;
    margin: 20% 0 0 4%;
  }

  .text-break{
    display: none;
  }

  .navigation-1 , .navigation-2 {
    font-size: 1.0rem;

  }
  .navigation-2 {
    margin: 6% 0% 0% 0%;
  }

  .projectsmall{
    width:100%;
    margin-left: 0;
  }
  .projectbig{
    width:100%;
  }
  .project{
    margin-bottom: 20px;
  }

  .social-content , .social-link{
    font-size: 1.3rem;
  }

  .detailed-intro-paragraph{
    font-size: 1.3rem;
    /* margin-left: 10%; */
  }

  .detailed-intro-subparagraph{
    font-size: 1.3rem;
    /* margin-left: 2%; */
  }

  .team-hex-hero > img {
    max-width:100%;
  }

  .product-detail-text-1 {
    margin: 0 0 5% 0;
  }

  .product-detail-text-2 {
    margin: 0 0 5% 0;
  }

  .background-gifs{
    display: none;
  }

  .about-me{
    font-size: 1.2rem;
    margin-left: 5%;
  }
  .high-res-page{
    /* This fixes the padding alignment issues on mobile + tablet. */
    margin:0 4% 0 4%;
  }

  .project-description {
    padding-top: 1%;
    font-size: 1rem;
  }
}


/* Half the windowed screen */
@media only screen
  and (min-device-width: 768px) and (max-device-width: 1024px){
        .high-res-page{
          margin:0 4% 0 4%;
        }\
        /*  Need to fix this view on the iPad Pro */
  }
  /* Regular Laptops */
  @media only screen
    and (min-device-width: 1024px){

      .product-detail-text-1{
        margin-bottom: 10%;
      }

      .product-detail-text-2{
        margin-bottom: 10%;
      }
    }

    /* For 4k Monitors */
    @media only screen
      and (min-device-width: 2560px){

        .high-res-page{
          max-width: 70%;
          margin:auto;
        }

        .detailed-intro-subparagraph{
          /* margin-left:15%; */
        }

        .totoro{
          z-index: 0;
          position:absolute;
          top: 40%;
          right:12%;
        }

        .akira{
          z-index: 0;
          position:absolute;
          top: 80%;
          right:65%;
        }


      }
